* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

.container {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 9rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.smPic {
  position: absolute;
  left: 500px;
  bottom: 120px;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
}
.rightP {
  max-width: 29.9375rem;
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6875rem;
}
.righth3 {
  max-width: 33.25rem;
  width: 100%;
  padding: 10px;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.80625rem;
}

.rSubcont {
  display: flex;

  gap: 6.19rem;
  margin: 2.5rem 0;
}

.subp {
  color: #555;
  max-width: 14.3125rem;
  width: 100%;
  font-size: 0.875rem;
  padding: 15px 0;
  font-weight: 400;
}
