.b2cont {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 204px 144px 75px 144px;
  background: #f8fdfe;
}
.b2left img {
  width: 520px;
  height: 480px;
  flex-shrink: 0;
}
.b2cont h1 {
  position: absolute;
  top: 75px;
  left: 145px;
  color: #222;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.9px;
}
.b3cont {
  padding: 120px 135px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "one two three"
    "one four five";
  grid-template-columns: 1fr 30% 30%;
}
.b3cont > div:first-child {
  grid-area: one;
}
